.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 640px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}

.errorMessage {
    margin-right: auto;
    color: var(--error);
    font-size: 0.875rem;
    margin-top: 0.25rem;
}